<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/styles.css" rel="stylesheet" th:href="@{/css/styles.css}"/>
    <title>betterMiner</title>
</head>
<body>
    <h1>Enter search dates here:</h1>

    <form method="post" th:action="@{/results}" th:object="${dateRange}">
        <label>Start Date:</label>
        <div>
            <input id="startYear" placeholder="YYYY" th:field="*{startYear}" type="text"/>
            <input id="startMonth" placeholder="MM" th:field="*{startMonth}" type="text"/>
            <input id="startDay" placeholder="DD" th:field="*{startDay}" type="text"/>
        </div>

        <label>End Date:</label>
        <div>
            <input id="endYear" placeholder="YYYY" th:field="*{endYear}" type="text"/>
            <input id="endMonth" placeholder="MM" th:field="*{endMonth}" type="text"/>
            <input id="endDay" placeholder="DD" th:field="*{endDay}" type="text"/>
        </div>
        <button th:action="@{/results}" type="submit">Search</button>
    </form>


    <section class="footer">
        <p>Copyright &copy; 2024. All Rights Reserved.</p>
    </section>
</body>
</html>