<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DigDigDigDig</title>
</head>
<body>
    <h1>Enter search dates here:</h1>
    <form action="/search" method="post">
        <label for="startDate">From Date:</label>
        <input type="date" id="startDate" name="startDate">
        <br>
        <br>
        <label for="endDate">To Date:</label>
        <input type="date" id="endDate" name="endDate">
        <br>
        <br>
        <input type="submit" value="Search">
    </form>
</body>
</html>